body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.title {
    display: grid;
    align-items: center;
    height: 100%;
    font-size: 2rem;
}

.new-book {
    display: grid;
    height: 50%;
    align-items: center;
}

.books-array {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}